*{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}
body{
  margin: 0 8%;
}

/**인덱스 이동**/
nav{
  margin-top: 50px;
}
.icon{
  width: 150px;
  transition: 300ms;
}
.icon:hover {
  transform: scale(1.3);
}
.icon-a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.explain{
  margin-bottom: 20px;
  margin-left: 10px;
}
/**제목**/
h1{
  font-size:90px;
  height: 110px;
}
h2{
  font-size: 30px;
  margin-bottom: 20px;
}

/**본문**/
.favorite{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music{
  margin-top: 30px;
  margin-bottom: 100px;
}
.movie-imgs,
.music-imgs{
  width: 865px;
}

/**hover효과**/
.movie-img:hover,
.music-img:hover{
  transform: scale(1.2);
}
.movie-img,
.music-img{
  width: 170px;
  transition: 300ms ease;
}
.favorite-a{
  text-decoration: none;
}

@media (max-width:1000px) {
  h1{
    font-size:70px;
    height: 90px;
  }
  .explain{
    margin: 0;
  }
  .favorite{
    flex-direction: row;
    align-items: flex-start;
    justify-content:center;
    margin-top: 3%;
  }
  .music{
    margin: 0;
  }
  .movie-imgs{
    display: flex;
    flex-direction: column;
    width: 170px;
  }
  .music-imgs{
    display: flex;
    flex-direction: column;
    width: 170px;
  }

  .music-img{
    margin: 36px 0;
  }
  .movie{
    margin-right:10%;
  }
}
