*{
  font-family: 'Do Hyeon', sans-serif;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/**제목**/
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 60px;
  margin-top: 100px;
}
.h1-point{
  color: #4B4B4B;
  font-size: 65px;
  text-shadow : 3px 3px 6px Darkgray;
}
.main-img{
  width: 300px;
}

/**네비게이션**/
ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type:none;
  margin-top: 50px;
}
.media-1,
.media-2{
  display: flex;
}
li{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin:0 50px;
}

a{
  text-decoration:none;
  color: black;
}
.nav-img{
  width: 150px;
  transition: 300ms ease;
}

.nav-img:hover{
 transform:scale(1.2);
}

@media(max-width:1000px){
    body{
      height: auto;
    }
    header{
      flex-direction: column;
    }
    .main-img{
      width:250px;
    }
    h1{
      margin: 0;
      font-size: 40px;
    }
    .h1-point{
      font-size: 40px;
    }
    p{
      text-align: center;
    }
    ul{
      display: block;
      margin: 0;
      padding: 0;
    }
    li{
      margin: 0;
    }
    .media-1,
    .media-2{
      align-items: center;
    }
}
